trigger: none

pool:
  vmImage: 'macOS-latest'

steps:
- script: wget https://swcdn.apple.com/content/downloads/23/44/032-94352-A_DB05J15QWT/4x91v0yzolyiat5cat76ieu0h78aeu3d03/InstallAssistant.pkg
  displayName: 'Downloading macOS Sonoma 14 Beta 1'

- script: sudo installer -allowUntrusted -verboseR -pkg InstallAssistant.pkg -target /
  displayName: 'Installing macOS Sonoma 14 Beta 1 pkg File'

- script: |
    hdiutil create -o /tmp/Sonoma -size 14562m -volname Sonoma -layout SPUD -fs HFS+J -type UDTO -attach
    sudo /Applications/Install\ macOS\ 14\ beta.app/Contents/Resources/createinstallmedia --volume /Volumes/Sonoma --nointeraction
    hdiutil detach -force /Volumes/Install\ macOS\ 14\ beta
    mv -v /tmp/Sonoma.cdr $(System.DefaultWorkingDirectory)/Sonoma_14-Beta-1.iso
  displayName: 'Create macOS Sonoma 14 Beta 1 Installer ISO File'

- publish: Sonoma_14-Beta-1.iso
  artifact: 'macOS Sonoma 14 Beta 1 ISO File'

- script: 7z a -t7z -mx=1 -v4750m Sonoma_14-Beta-1/Sonoma_14-Beta-1.7z Sonoma_14-Beta-1.iso
  displayName: 'Compressing Sonoma_14-Beta-1.iso file'

# - script: brew install megatools
#   displayName: 'Install Megatools'

# - script: megatools copy --local ~/Desktop/Sonoma_14-Beta-1 --remote /Root/Shared-Files --username $MEGA_USERNAME --password "$MEGA_PASSWORD"
#   displayName: 'Upload Sonoma_14-Beta-1 folder to MEGA'

- publish: Sonoma_14-Beta-1/
  artifact: 'macOS Sonoma 14 Beta 1'
